.displayGrid {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  width: 1200px;
  gap: 36px;
  margin: 160px auto 80px auto;
  row-gap: 40px;
  min-height: 1000px;
}

.gridItem {
  background-color: #f9f9f9;
  /* background-color: #ffe9e9; */
  border: 1px solid #ddd;
  text-align: center;
  height: 340px;
  padding: 20px;
  border-radius: 5px;
}

.gridItem:hover {
  background-color: #fee0e3;
  color: white;
  /* box-shadow: 1px 1px 1px 1px #fd6675; */
}
