.postAdoptionContainer {
  width: 1000px;
  margin: 160px auto;
  background-color: #333333;
  color: white;
  overflow-y: scroll;
  padding: 50px 80px;
  border-radius: 10px;
  min-height: 800px;
}

.userDetails {
  padding: 24px 0;
}

.userDetailsInputs {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  width: 100%;
  min-height: 150px;
}

.disabled {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.postAdoptionTitle {
  font-size: 36px;
}

.petDetails {
  padding: 24px 0;
}

.petDetailsTitle {
  font-size: 24px;
}

.petDetailsInputs {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  width: 100%;
  min-height: 300px;
}

.petImageDetails {
  margin-top: 16px;
}

.fileInputContainerStyle {
  width: 100%;
  min-height: 60px;
}

.fileInputStyle {
  width: 200px;
}

.uploadedImageContainer {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 100%;
  row-gap: 24px;
}

.uploadedImage {
  margin: 0 auto;
}

.petLocationDetails {
  margin: 12px 0;
}

.petLocationDetailsInputs {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  width: 100%;
  min-height: 150px;
}

.inputField {
  width: 300px;
  background-color: #e9e9e9;
  border-radius: 8px;
  padding-left: 12px;
  margin-top: 4px;
  color: black;
  border: none;
  height: 32px;
}

.inputFieldDisabled {
  width: 300px;
  background-color: #afafaf;
  border-radius: 8px;
  padding-left: 12px;
  margin-top: 4px;
  color: black;
  border: none;
  height: 32px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.optionContainer {
  background-color: #fff;
  color: #333;
  padding: 8px 12px;
}

.optionContainer:hover {
  background-color: #f0f0f0;
}
